PacUnionFinancial.Intergration.WebApi/Web References/com.loanpacific.oc/hubservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TransactionString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Xact" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Async" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="PSet" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Attempts" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransactionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransactionStringResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TransactionStringSoapIn">
    <wsdl:part name="parameters" element="tns:TransactionString" />
  </wsdl:message>
  <wsdl:message name="TransactionStringSoapOut">
    <wsdl:part name="parameters" element="tns:TransactionStringResponse" />
  </wsdl:message>
  <wsdl:portType name="HubServicesSoap">
    <wsdl:operation name="TransactionString">
      <wsdl:input message="tns:TransactionStringSoapIn" />
      <wsdl:output message="tns:TransactionStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HubServicesSoap" type="tns:HubServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransactionString">
      <soap:operation soapAction="http://tempuri.org/TransactionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HubServicesSoap12" type="tns:HubServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransactionString">
      <soap12:operation soapAction="http://tempuri.org/TransactionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HubServices">
    <wsdl:port name="HubServicesSoap" binding="tns:HubServicesSoap">
      <soap:address location="https://octest.loanpacific.com/hubservices/hubservices.asmx" />
    </wsdl:port>
    <wsdl:port name="HubServicesSoap12" binding="tns:HubServicesSoap12">
      <soap12:address location="https://octest.loanpacific.com/hubservices/hubservices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>